<table class="table">
  <thead class="table-primary">
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Salary over £45000</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <td>{{ employee.forename }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.salary | currency: 'GBP'}}</td>
      <td class="table-success" *ngIf="employee.salary >= 45000; else myElseBlock">Yes</td>
      <ng-template #myElseBlock><td>No</td></ng-template>
    </tr>
  </tbody>
</table>
